.traffic-light{
    width:100px;
    height:300px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    background-color: slategray;
}
.light{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}